# <div style="text-align: center"> CARACTERIZACIÓN DEL EMPLEO JUVENIL EN EL ECUADOR </div>
# <div style="text-align: center"> ENEMDU DICIEMBRE 2020 </div>
<img src="">

## Introdcción
El presente informe muestra los principales indicadores de empleo en el Ecuador a nivel nacional y para jóvenes con edades comprendidas entre 18 y 26 años de edad a fin de obtener un contraste del nivel de efectación que sufren los jovenes ecuatorianos en el mercado laboral respecto a los demas grupos de edad, adicionalmente se realiza un análisis exploratorio que caracteriza los factores que mantienen mayor influencia en el detrimento del empleo juvenil.

# Clasificación del empleo
El el Ecuador la principal fuente de información para la caracterización y clasificación del empleo proviene del Instituto Ecuatoriano de Estadísticas y Censos INEC, el cual expone lo siguiente: \
___La nueva propuesta clasifica a la población con empleo en tres grupos: empleo adecuado, empleo inadecuado y empleo no clasificado. La característica de “adecuado o inadecuado” se determina por dos requerimientos: a) el cumplimiento de una jornada legal de trabajo, y b) el ganar al menos el salario básico unificado.___
\
En este sentido la metodología de clasificación que se propone y mediante la cual se presentará los analisis respectivos es la siguiente:
<img src="https://pbs.twimg.com/media/CtQSPD3WYAA90Yg.jpg">

In [62]:
#librerias
import os
import pandas as pd
import math as mt
import numpy as np
import scipy
import scipy.stats
os.getcwd();

#importar base de datos
enem122020 = pd.read_stata('Data//202012_EnemduBDD_15anios.dta')

#Depuracion de registros
enem122020['p03']= pd.to_numeric(enem122020.p03, errors='coerce')# cambio de categorical to numeric

#Definición de variables
enem122020["joven"]="no" #variable joven
enem122020.loc[(enem122020['p03']>=18) & (enem122020['p03']<27),"joven"]="si" #variable joven para edad 18 a 26 años
enem122020["peapon"]= enem122020["pea"]*enem122020["fexp"] #PEA total, ponderada fexp
enem122020.loc[enem122020["empleo"]=="PoblaciÃ³n con empleo","emppon"]=1*enem122020["fexp"]#Empleo total, ponderada fexp
enem122020.loc[enem122020["desempleo"]=="PoblaciÃ³n con desempleo","desemppon"]=1*enem122020["fexp"]#Desempleo total, ponderada fexp

In [2]:
''' for column in enem122020:
...   print(column)'''

#df.columns.values

' for column in enem122020:\n  print(column)'

In [73]:
#construcción de tabala de indicadores
nombre=["Nacional","Juvenil"]# Variable de encabezados de segmento del data frame


peana=enem122020['peapon'].sum().round()# PEA Nacional
peajov=enem122020.loc[enem122020['joven']=="si",'peapon'].sum().round()#PEA Juvenil
PEA = [peana,peajov]#Variable indicador PEA

empna=enem122020['emppon'].sum().round()# EMPLEO Nacional
empjov=enem122020.loc[enem122020['joven']=="si",'emppon'].sum().round()#EMPLEO Juvenil
EMPLEO = [empna,empjov]#Variable indicador EMPLEO

desempna=enem122020['desemppon'].sum().round()# DESEMPLEO Nacional
desempjov=enem122020.loc[enem122020['joven']=="si",'desemppon'].sum().round()#DESEMPLEO Juvenil
DESEMPLEO = [desempna,desempjov]#Variable indicador DESEMPLEO

Indicadores=pd.DataFrame({'Población': nombre,'PEA': PEA,'EMPLEO': EMPLEO,'DESEMPLEO': DESEMPLEO})#Tabla de indicadores
Indicadores

  Población        PEA     EMPLEO  DESEMPLEO
0  Nacional  8090249.0  7688944.0   401305.0
1   Juvenil  1511397.0  1343333.0   168064.0

# Población Económicamente Activa

In [84]:
(peajov/peana)*100

18.681711774260595

In [115]:
# @title graficas
aux=enem122020[["p03","peapon"]].groupby("p03").sum()
aux

           peapon
p03
0.0      0.000000
1.0      0.000000
2.0      0.000000
3.0      0.000000
4.0      0.000000
...           ...
93.0     0.000000
94.0   366.318062
95.0  2119.167271
96.0     0.000000
97.0     0.000000

[98 rows x 1 columns]

In [94]:
import matplotlib.pyplot as plt
plt.bar(aux["p03"], aux["peapon"],aling="center")

KeyError: 'p03'

In [108]:
for column in aux:
...   print(column)

peapon

In [111]:
aux

           peapon
p03
0.0      0.000000
1.0      0.000000
2.0      0.000000
3.0      0.000000
4.0      0.000000
...           ...
93.0     0.000000
94.0   366.318062
95.0  2119.167271
96.0     0.000000
97.0     0.000000

[98 rows x 1 columns]